In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# importing the dataset
df = pd.read_csv('bollywood.csv')

In [ ]:
df
# this is our dataset which we imported

,Year,Title,Director,Cast,Genre,Release Month,Release Date,Highest Grosser By Year(in crores)
0,1920,Balika Badhu a.k.a. Baby Bride,P. T. Shaida (Tulsidutt Shaida),"shaida,pandit,ali,miss,tarak,bagcha,tulsidutt",social,NaN,NaN,NaN
1,1920,Daksha Yagna a.k.a. Sati Parvati,Vishnupant Divekar,"prabha,khalil,vaidya",mythology,NaN,NaN,NaN
2,1920,Jalandhar Vrinda a.k.a. Sati Tulsi Vrinda,G. V. Sane,unknown,mythology,NaN,NaN,NaN
3,1920,Kansa Vadha a.k.a. End Of The Tyrant King,G. V. Sane,unknown,mythology,NaN,NaN,NaN
4,1920,Katorabhar Khoon a.k.a.The Stinger Stung a.k.a...,S. N. Patankar,"koregaonkar,gokhale,vyas,trymbakrao,pradhan,ta...",social,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9677,2019,Panipat,Ashutosh Gowariker,Sanjay DuttArjun KapoorKriti SanonKabir Bedi,Action/battle,DEC,6.0,NaN
9678,2019,"Pati, Patni Aur Woh",Mudassar Aziz,Kartik AaryanBhumi PednekarAnanya Panday,Comedy,DEC,6.0,NaN
9679,2019,Mardaani 2,Gopi Puthran,Rani MukherjeeVikram Singh ChauhanShruti Bapna...,Crime Thriller,DEC,13.0,NaN
9680,2019,Dabangg 3,Prabhu Deva,Salman KhanSonakshi SinhaArbaaz KhanMahie Gill...,Action,DEC,20.0,NaN
9681,2019,Good News,Raj Mehta,Akshay KumarKareena KapoorDiljit DosanjhKiara ...,Comedy,DEC,27.0,NaN

In [ ]:
df.columns
# this shows us the name of the columns in our dataset

Index(['Year', 'Title', 'Director', 'Cast', 'Genre', 'Release Month',
       'Release Date', 'Highest Grosser By Year(in crores)'],
      dtype='object')

In [ ]:
df.drop(['Release Month'], axis = 1, inplace = True)
df.drop(['Release Date'], axis = 1, inplace = True)
df.drop(['Highest Grosser By Year(in crores)'], axis = 1, inplace = True)
# dropping the un-neccessary columns from our dataset.

In [ ]:
df

,Year,Title,Director,Cast,Genre
0,1920,Balika Badhu a.k.a. Baby Bride,P. T. Shaida (Tulsidutt Shaida),"shaida,pandit,ali,miss,tarak,bagcha,tulsidutt",social
1,1920,Daksha Yagna a.k.a. Sati Parvati,Vishnupant Divekar,"prabha,khalil,vaidya",mythology
2,1920,Jalandhar Vrinda a.k.a. Sati Tulsi Vrinda,G. V. Sane,unknown,mythology
3,1920,Kansa Vadha a.k.a. End Of The Tyrant King,G. V. Sane,unknown,mythology
4,1920,Katorabhar Khoon a.k.a.The Stinger Stung a.k.a...,S. N. Patankar,"koregaonkar,gokhale,vyas,trymbakrao,pradhan,ta...",social
...,...,...,...,...,...
9677,2019,Panipat,Ashutosh Gowariker,Sanjay DuttArjun KapoorKriti SanonKabir Bedi,Action/battle
9678,2019,"Pati, Patni Aur Woh",Mudassar Aziz,Kartik AaryanBhumi PednekarAnanya Panday,Comedy
9679,2019,Mardaani 2,Gopi Puthran,Rani MukherjeeVikram Singh ChauhanShruti Bapna...,Crime Thriller
9680,2019,Dabangg 3,Prabhu Deva,Salman KhanSonakshi SinhaArbaaz KhanMahie Gill...,Action
9681,2019,Good News,Raj Mehta,Akshay KumarKareena KapoorDiljit DosanjhKiara ...,Comedy

In [ ]:
df = df.loc[df['Year']>1990]
# Taking movies only after 1990

In [ ]:
df
# here we can see that the index numbering is starting from 6593 we wil be reseting it to start from 0

,Year,Title,Director,Cast,Genre
6653,1991,100 Days,Parto Ghosh,"madhuri,shroff,jackie,dixit",thriller
6654,1991,Aag Laga Do Sawan Ko,Anup Malik,"harish,patel",unknown
6655,1991,Aaj Ka Samson,Kuku Kapoor,"chaddha,kapoor,sahila,goga,hemant,birje","action,romance"
6656,1991,Aakhri Cheekh,Kiran Ramsay,"ghatge,dhawan,vijay,anil,arora,vijayendra",horror
6657,1991,Afsana Pyar Ka,Shahjahan,"khan,aamir,kothari,neelam",romance
...,...,...,...,...,...
9677,2019,Panipat,Ashutosh Gowariker,Sanjay DuttArjun KapoorKriti SanonKabir Bedi,Action/battle
9678,2019,"Pati, Patni Aur Woh",Mudassar Aziz,Kartik AaryanBhumi PednekarAnanya Panday,Comedy
9679,2019,Mardaani 2,Gopi Puthran,Rani MukherjeeVikram Singh ChauhanShruti Bapna...,Crime Thriller
9680,2019,Dabangg 3,Prabhu Deva,Salman KhanSonakshi SinhaArbaaz KhanMahie Gill...,Action
9681,2019,Good News,Raj Mehta,Akshay KumarKareena KapoorDiljit DosanjhKiara ...,Comedy

In [ ]:
df=df.reset_index().drop('index',1)
df
# here we have reset our indexing

,Year,Title,Director,Cast,Genre
0,1991,100 Days,Parto Ghosh,"madhuri,shroff,jackie,dixit",thriller
1,1991,Aag Laga Do Sawan Ko,Anup Malik,"harish,patel",unknown
2,1991,Aaj Ka Samson,Kuku Kapoor,"chaddha,kapoor,sahila,goga,hemant,birje","action,romance"
3,1991,Aakhri Cheekh,Kiran Ramsay,"ghatge,dhawan,vijay,anil,arora,vijayendra",horror
4,1991,Afsana Pyar Ka,Shahjahan,"khan,aamir,kothari,neelam",romance
...,...,...,...,...,...
3024,2019,Panipat,Ashutosh Gowariker,Sanjay DuttArjun KapoorKriti SanonKabir Bedi,Action/battle
3025,2019,"Pati, Patni Aur Woh",Mudassar Aziz,Kartik AaryanBhumi PednekarAnanya Panday,Comedy
3026,2019,Mardaani 2,Gopi Puthran,Rani MukherjeeVikram Singh ChauhanShruti Bapna...,Crime Thriller
3027,2019,Dabangg 3,Prabhu Deva,Salman KhanSonakshi SinhaArbaaz KhanMahie Gill...,Action
3028,2019,Good News,Raj Mehta,Akshay KumarKareena KapoorDiljit DosanjhKiara ...,Comedy

In [ ]:
# here we are looking for null values in our dataset and well be replacing them.
df.isnull().sum(axis=0)

Year        0
Title       0
Director    0
Cast        0
Genre       1
dtype: int64

In [ ]:
# In the ‘Genre’ column, some values have two genres separated by a comma in a cell-like “action, comedy”. 
# While calculating similarities, Python will consider it a single string while they are two different genres 
# of the same movie. So we have to replace the comma with whitespace so they will be considered different like “action comedy”.

df['Genre'] = df['Genre'].str.replace(',',' ')

# similarly replacing commas in cast column too.
df['Cast'] = df['Cast'].str.replace(',',' ')

In [ ]:
df['Cast'].head()

0                  madhuri shroff jackie dixit
1                                 harish patel
2      chaddha kapoor sahila goga hemant birje
3    ghatge dhawan vijay anil arora vijayendra
4                    khan aamir kothari neelam
Name: Cast, dtype: object

In [ ]:
# In the ‘Director’ columns, the name and surname is separated by whitespace. Here name and surname will be considered 
# as two different words and this can lead to false similarity. For example, two directors 
#  “Sajid Khan” and “Salim Khan” will be considered 50% similar by Python, while they are two completely
# different persons. So converting them to “SajidKhan” and “SalimKhan” will help us.

df['Director'] = df['Director'].str.replace(' ','')

In [ ]:
df['Director'].head()

0     PartoGhosh
1      AnupMalik
2     KukuKapoor
3    KiranRamsay
4      Shahjahan
Name: Director, dtype: object

In [ ]:
# converting the movie title into lower case for searching simplicity.
df['Title'] = df['Title'].str.lower()

In [ ]:
# Now we’ll sum up the text of all the features we’re going to use for measuring similarity in one column. 
# But first, we have to convert the data type of the ‘Year’ column from int to string.

df['Year'] = df['Year'].astype(str)

In [ ]:
# creating the combined feature.
df['comb'] = df['Year']+' '+df['Director']+' '+df['Genre']+' '+df['Cast']

In [ ]:
df['comb']

0       1991 PartoGhosh thriller madhuri shroff jackie...
1                     1991 AnupMalik unknown harish patel
2       1991 KukuKapoor action romance chaddha kapoor ...
3       1991 KiranRamsay horror ghatge dhawan vijay an...
4        1991 Shahjahan romance khan aamir kothari neelam
                              ...
3024    2019 AshutoshGowariker Action/battle Sanjay Du...
3025    2019 MudassarAziz Comedy Kartik AaryanBhumi Pe...
3026    2019 GopiPuthran Crime Thriller Rani Mukherjee...
3027    2019 PrabhuDeva Action Salman KhanSonakshi Sin...
3028    2019 RajMehta Comedy Akshay KumarKareena Kapoo...
Name: comb, Length: 3029, dtype: object

In [ ]:
# making a count matrix of features and then a similarity Score matrix. 
# The similarity score matrix contains the cosine similarity of all the movies in the dataset. 
# We can get the similarity score of two movies by their index in the dataset.

cv = CountVectorizer()

count_matrix= cv.fit_transform(df['comb'].values.astype('U'))
sim = cosine_similarity(count_matrix)

In [ ]:
sim

array([[1.        , 0.16903085, 0.11952286, ..., 0.11396058, 0.        ,
        0.        ],
       [0.16903085, 1.        , 0.14142136, ..., 0.        , 0.        ,
        0.        ],
       [0.11952286, 0.14142136, 1.        , ..., 0.        , 0.1118034 ,
        0.        ],
       ...,
       [0.11396058, 0.        , 0.        , ..., 1.        , 0.10660036,
        0.10660036],
       [0.        , 0.        , 0.1118034 , ..., 0.10660036, 1.        ,
        0.125     ],
       [0.        , 0.        , 0.        , ..., 0.10660036, 0.125     ,
        1.        ]])

In [ ]:
# naming a movie user like. Convert it to the small case, cause we converted all the titles to small case. 
# Then check if this movie exists in our dataset or not.

m = 'Hungama'
m = m.lower()
m in df['Title'].unique()

True

In [ ]:
# geting the index of the movie in the dataset. 
# Then fetch the row on the same index from the similarity score matrix, which has the similarity 
# scores of all the movies to the movie user like.

i = df.loc[df['Title'] == m].index[0]
print(i)

1183

In [ ]:
# getting the row related to movie from similarity score matrix.
# enumerating the rows so that we dint lose the indexing after sorting in form of list.
sim[i]

array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
       0.09805807])

In [ ]:
lst = list(enumerate(sim[i]))

In [ ]:
lst[:20]

[(0, 0.0),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0),
 (4, 0.0),
 (5, 0.0),
 (6, 0.0),
 (7, 0.0),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.08362420100070908),
 (14, 0.0),
 (15, 0.09245003270420485),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0)]

In [ ]:
# sorting the list in descending order of similarity score.
lst = sorted(lst, key = lambda x:x[1], reverse = True)

#as we need only 10 most similar movies keeping only the ten movies other than the movie we entered itself.
lst = lst[1:11]

In [ ]:
# getting the list of recommended movies.
m = []

for i in range(len(lst)):
    a = lst[i][0]
    m.append(df['Title'][a])
print(m)

['mere baap pehle aap', 'aakrosh', 'kamaal dhamaal malamaal', 'main madhuri dixit banna chahti hoon', 'chup chup ke', 'phir hera pheri', 'hattrick', 'no problem', 'bhagam bhag', 'de taali']

In [ ]:
for i in range(len(m)):
    print(m[i])

mere baap pehle aap
aakrosh
kamaal dhamaal malamaal
main madhuri dixit banna chahti hoon
chup chup ke
phir hera pheri
hattrick
no problem
bhagam bhag
de taali

In [ ]:
# creating a function that takes a movie you like as input and returns the suggestions
def recommend(m):
    m = m.lower()
    if m not in df['Title'].unique():
        print(""""This movie is not in our database.
                    please enter other.""")
    else:
        i = df.loc[df['Title'] == m].index[0]
        lst = list(enumerate(sim[i]))
        lst = sorted(lst, key = lambda x:x[1], reverse = True)
        lst = lst[1:11]
        l = []
        for i in range(len(lst)):
            a = lst[i][0]
            l.append(df['Title'][a])
        for i in range(len(l)):
            print(l[i])

In [ ]:
recommend('Jai ho')

auzaar
army
kick
chaand kaa tukdaa
pyaar kiya to darna kya
hello brother
koyelaanchal
balwaan
dil tera aashiq
shastra